<div class="container w-75">
  <div class="row m-5 card bg-light">
    <div class="card-header">
      <h4>Pizza Details</h4>
    </div>
    <div class="card-body">
      <form>
        <div class="form-group p-2">
          <label for="name">Name</label>
          <input
            class="form-control"
            id="name"
            placeholder="Eg: Margeritta Pizza"
          />
        </div>
        <div class="form-group p-2">
          <label for="description">Description</label>
          <textarea class="form-control" id="description" rows="3"></textarea>
        </div>
        <div class="form-group p-2">
          <label for="price">Price</label>
          <input class="form-control" id="price" placeholder="Eg: ₹400" />
        </div>
      </form>
    </div>
    <div class="card-footer p-4">
      <button type="button" class="btn btn-primary btn-lg">Save Pizza</button>
    </div>
  </div>
</div>
