* {
  margin: 0;
  padding: 0;
}

#google_logo_box {
  text-align: center;
}

#search_box {
  margin: 10px;
  padding: 5px;
  width: 250px;
}

#google_buttons,
#bottom_links_box {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.bottom_links {
  color: blue;
  text-decoration: none;
}

.logo_blue {
  color: blue;
}
.logo_red {
  color: red;
}
.logo_green {
  color: green;
}
.logo_yellow {
  color: #fcfc37;
}
